@import '../_variables'
@import '../_media'
@import '../mixins/common'

::selection
  background: var(--highlight-color)

html
  font-size $font-size

body
  background: var(--body-bg)
  color: var(--body-fg)
  padding-top: 20px
  font-family: $font-body
  font-size: $font-size
  line-height: 1.8rem

a:link, a:visited
  color: var(--body-fg)
  text-decoration: none
  border-bottom: 2px solid var(--body-fg)
  -moz-transition: all .2s ease-in-out
  -webkit-transition: all .2s ease-in-out
  transition: all .2s ease-in-out
a:hover, a:active
  color: var(--color-primary)
  text-decoration: none
  border-bottom: 2px solid var(--color-primary)
a img
  display: block

h1, h2, h3, h4, h5, h6
  font-family: $font-headers
  font-weight: bold
  margin-bottom: 10px
  word-wrap: break-word

h1
  font-size: 2.4rem
  line-height: 2.6rem
h2
  font-size: 2.2rem
  line-height: 2.4rem
h3
  font-size: 2rem
  line-height: 2.2rem
h4
  font-size: 1.8rem
  line-height: 2rem
h5
  font-size: 1.6rem
  line-height: 1.8rem
h6
  font-size: 1.4rem
  line-height: 1.6rem

hr
  margin-top: 20px

blockquote
  width: 90%
  margin: 5px auto
  padding: 5px
  background: var(--bg1)
  font-style: italic
blockquote::before
  font-family: "Font Awesome 5 Free"
  font-weight: 900
  content: "\f10d"
  float: left
  margin-right: 10px
  color: var(--bg5)
code, pre.highlight
  font-family: $font-monospace
  background: var(--bg1)
  font-size: 16px
code[class^='highlighter-']
  padding: 2px
pre.highlight
  padding: 10px
  overflow-y: auto

  code
    background: none

form
  display: flex
  flex-direction: column
  input, textarea
    margin: 5px 0

input, textarea
  font-family: $font-sidebar
  font-size: 18px
  background: var(--bg1)
  color: var(--body-fg)
  border: none
  padding: 10px

button,
input[type=button],
input[type=Submit],
a.button:link,
a.button:visited,
div.button
  font-family: $font-headers
  background: none
  color: var(--body-fg)
  border: 1px solid var(--body-fg)
  padding: 10px
  -moz-transition: background .2s ease-in-out
  -webkit-transition: background .2s ease-in-out
  transition: background .2s ease-in-out
  cursor: pointer

button:hover,
button:active,
input[type=button]:hover,
input[type=button]:active,
input[type=Submit]:hover,
input[type=Submit]:active,
a.button:hover,
a.button:active,
div.button:hover
  background: #cd00ff55
  color: var(--body-fg)

ol, ul
  margin: 10px 0 20px 0
  li ol, li ul
    margin-left: 20px

.alertbox
  position: fixed
  bottom: 5px
  right: 5px
  transition: all .2s ease-in-out
  &:hover, &:focus, &:active
    background: transparent
  &.pre-entry
    opacity: 0

.outer-container
  position: relative;
  background: var(--body-bg)
  width: $content-width
  margin: 0 auto

.is-active
  display: block

.page-position
  position: fixed
  left: 0
  top: 0
  height: 2px
  z-index: 10000
  background: var(--color-primary)

header
  width: 100%
  #random-quote
    font-family: $font-sidebar
    font-style: italic
    font-size: 14px
    margin-left: auto
    margin-right: 0
    width: 30%
    min-width: 150px

.inner-container
  display: flex
  justify-content: space-between

  main > * + *
    margin-top: 2rem

main
  width: 60%

aside
  width: 35%

@media screen and (max-width: $md-width)
  input, textarea
    font-size: 14px
  .outer-container
    width: $mobile-content-width
    margin: 0 auto
  .inner-container
    display: block

  main, aside
    width: 100%

  aside
    margin-top: 50px

.microblog-feed-container
  margin-top: 0.8rem

  > * + *
    margin-top: 1.5rem

  > header
    .microblog-follow
      display: flex
      justify-content: space-between

      @media screen and (max-width: $xs-width)
        display: block
  .microblog-feed
    > * + *
      margin-top: 1.8rem
      padding-top: 0.7rem
      border-top: 1px solid var(--color-gray)
    .microblog-card
      animation: fade-in 0.2s linear;
      .microblog-card-prepend
        padding-left: 2.5em
      .microblog-card-body
        padding: 0.8rem
        display: flex

        > * + *
          margin-left: 20px
        &.reblogged
          border: 1px solid var(--color-red)
        .microblog-card-author-image img
          padding-top: 15px
          min-width: 20px
          max-width: 50px
        .microblog-card-post
          font-size: 0.9rem
          line-height: 1.4rem
          > .attachment-container
            display: flex
            overflow-x: auto
            flex-flow: row nowrap;
            align-items: center;
            scroll-snap-type: x mandatory
            position: relative
            > .multi-image-indicator
              position: absolute
              top: 0.8rem
              left: 0.8rem
              color: white
              background: rgba(0, 0, 0, 0.6)
              padding: 0.4rem
            > img,
            > video
              width: 100%
              flex: 0 0 100%
              scroll-snap-align: center
              scroll-behavior: smooth
          > p
            word-wrap: break-word

      h6.microblog-card-author a
          &:link,
          &:visited
            border-bottom: 0

      @media screen and (max-width: $xs-width)
        .microblog-card-body
          display: block

          > * + *
            margin-left: 0;

  @keyframes fade-in
    from
      opacity: 0;
    to
      opacity: 1;
