@import '../_media'

footer
  margin: 100px 0
  text-align: center
  .footer-content
    padding: 20px
    text-align: left
    display: flex
    justify-content: space-between
  .social-buttons
    list-style: none
    font-size: 32px
    margin-bottom: 5px
    li
      display: inline
      a:link, a:visited, a:hover, a:active
        border-bottom: none
  .copyright
    margin: 50px auto
  .categories-list ul
    list-style: none
    li
      a:link, a:visited, a:hover, a:active
        border-bottom: none

.lastfm-recent-container
  width: 60%
  max-width: 800px
  h4.lastfm-displayText
    margin: 10px 0
  .lastfm-recent
    margin: 10px 0
    .track
      width: 150px
      margin: 0 20px
      text-align: center
      img
        max-width: 150px
        margin-bottom: 5px
      .track-artist
        font-weight: bold
      .trackDesc
        font-size: 14px
  .lastfm-thanks
    width: 100%
    text-align: right
    font-size: 14px

.secret-footer
  position: sticky;
  z-index: -1;
  bottom: 0;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 50px auto;

  path
    fill: var(--body-fg)

@media screen and (max-width: $lg-width)
  footer
    .footer-content
      display: block
      text-align: center
      .categories-list ul li
        display: inline
        margin: auto 10px
      .lastfm-recent-container
        width: 100%
        max-width: 100%

@media screen and (max-width: $md-width)
  footer
    .lastfm-recent-container
      .lastfm-recent
        .track
          margin: 20px auto
