@import '../_variables'
@import '../_media'

.navbar
  font-family: $font-headers
  font-size: 24px
  font-weight: bold
  line-height: 24px
  -moz-transition: padding .2s ease-in-out
  -webkit-transition: padding .2s ease-in-out
  transition: padding .2s ease-in-out
  .navbar-main
    display: flex
    justify-content: space-between
    align-items: center
  .fa
    font-size: 24px
  a:link, a:visited, a:hover, a:active
    border-bottom: none
  .navbar-logo
    .navbar-item[data-target='navMenu']
      cursor: pointer
  .navbar-menu
    display: flex
    align-items: center
    .navbar-item
      margin: 0 15px
      text-transform: uppercase
      position: relative
      &.navbar-search
        display: flex
        align-items: center
        justify-content: space-around
      .subnav
        background: var(--body-bg)
        padding: 5px 20px
        text-align: center
        border-width: 1px
        border-style: solid
        border-image: linear-gradient(var(--body-bg), var(--bg1)) 1 100%
        border-bottom: 1px solid var(--body-bg)
        box-shadow: 0px 8px 5px -5px var(--bg1)
        position: absolute
        top: 25px
        left: -25px
        transition: opacity .2s ease-in-out, margin .2s ease-in-out, visibility .2s ease-in-out
        visibility: hidden
        opacity: 0
        margin-top: -20px
        ul
          list-style: none
          li
            margin: 10px auto
      &:hover .subnav, .subnav:hover
        visibility: visible
        opacity: 1
        margin-top: 0
        z-index: 1
    .theme-toggle
      cursor: pointer
  &.navbar-collapse
    box-shadow: 0px 8px 5px -5px var(--bg1)
    position: fixed
    top: 0
    padding-top: 10px
    width: $content-width
    height: 50px
    background: var(--body-bg)
    z-index: 9999

@media screen and (max-width: $md-width)
  .navbar
    padding: 10px 0
    font-size: 16px
    .fa
      font-size: 16px
    .navbar-main
      display: block
    .navbar-logo
      display: flex
      justify-content: space-between
    .navbar-menu
      display: none
      &.is-active
        display: flex
        margin-top: 10px
      & > .navbar-item
        margin: 5px auto
    &.navbar-collapse
      width: $mobile-content-width
      height: auto

@media screen and (max-width: $xs-width)
  .navbar
    .navbar-menu
      &.is-active
        flex-direction: column
