@import '../_variables'
@import '../_media'

.post-excerpt
  margin: 20px 0
  p
    margin: 10px auto
    
.post-content hr,
.post-excerpt hr,
hr.sec-sep
  margin-top: 50px
  overflow: visible
  /* For IE */
  padding: 0
  border: none
  border-top: medium double var(--body-fg)
  color: var(--body-fg)
  text-align: center
  &:after
    content: "§"
    display: inline-block
    position: relative
    top: -0.7em
    font-size: 1.5em
    background: var(--body-bg)
.post-content, .post-excerpt
  img
    max-width: 100%
  .post-video
    video
      width: 100%
      max-width: 100%
    .caption
      font-family: $font-sidebar
      font-size: 14px
      text-align: right
  .youtube
    position: relative
    width: 100%
    height: 0
    padding-bottom: 52.65%
    margin-bottom: 40px
    iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    &:after
      position: absolute
      font-family: "Font Awesome 5 Brands"
      font-size: 16px
      content: "\f167 YouTube"
      bottom: -24px
      right: 0
  // tufte
  input.margin-toggle, label.margin-toggle:not(.sidenote-number)
    display: none
.post-description
  margin: 10px 0
  p
    color: var(--bg7)
    font-family: $font-sidebar
    font-size: 16px
.post-content, .prose
  > * + *
    margin-top: 1em;
  > * + blockquote
    margin-top: 1.5em;
  > blockquote + *
    margin-top: 1.5em;
  h1.post-title
    font-size: 2.9rem
    line-height: 3.1rem
    padding-top: 50px
  blockquote p
    padding: 0 10px
  .fullwidth
    width: $content-width !important
    max-width: none !important
    img
      width: $content-width !important
    figure figcaption
      width: $content-width !important
  .sidenote, .marginnote
    display: block
    float: right
    clear: right
    margin-right: -60%
    width: 50%
    margin-top: 0
    margin-bottom: 0
    font-size: 0.9rem
    line-height: 1.3
    vertical-align: baseline
    position: relative
  .sidenote-number
    counter-increment: sidenote-counter
  .sidenote-number:after, .sidenote:before
    font-family: $font-sidebar
    position: relative
    vertical-align: baseline
  .sidenote-number:after
    content: counter(sidenote-counter)
    font-size: $font-size-sidenote-label
    top: -0.5rem
    left: 0.1rem
  .sidenote:before
    content: counter(sidenote-counter) " "
    font-size: $font-size-sidenote-label
    top: -0.5rem
  blockquote .sidenote, blockquote .marginnote
    margin-right: -82%
    min-width: 59%
    text-align: left
  span.newthought
    font-variant: small-caps
    font-size: 1.2em
  label.sidenote-number
    display: inline
  .highlighter-rouge
    line-height: 1.2em
.post-hero, .post-content
  img
    max-width: 100%
  figure
    position: relative
    figcaption
      font-family: $font-sidebar
      font-size: 14px
      background: rgba(0, 0, 0, 0.9)
      color: #fff9e5
      width: 100%
      text-align: center
      padding: 5px 0
      position: absolute
      bottom: 0
      opacity: 0
      -moz-transition: opacity .2s ease-in-out
      -webkit-transition: opacity .2s ease-in-out
      transition: opacity .2s ease-in-out
    &:hover figcaption
      opacity: 1
div.pagination
  display: flex
  justify-content: space-between
  margin: 20px 0
div#reactions-container
  margin-bottom: 50px
  .reaction-buttons
    display: flex
    justify-content: space-around
    flex-wrap: wrap
    .selected
      background: #cd00ff55
      color: var(--body-fg)
div#comments-container
  .comments > div[id^="comment-"]
    margin: 30px auto
    transition: all .2s ease-in-out
    &.being-replied-to
      padding: 5px
      background: var(--bg03)
  .comment__header
    font-family: $font-headers
    font-size: 36px
    margin: 20px 0
    padding: 5px 10px
    display: flex
    justify-content: space-between
    align-items: center
    .comment__author
      display: flex
      align-items: center
      .comment__avatar
        max-width: 50px
        margin-right: 10px
    .comment__timestamp
      font-family: $font-sidebar
      font-size: 14px
      a:link, a:visited, a:focus, a:hover
        text-decoration: none
        border-bottom: none
        cursor: pointer
  .comment__message
    background: var(--bg1)
    padding: 10px
    margin: 10px 0
    p
      margin: 0
      margin-bottom: 10px
    & > div[id^="thread-reply-"]
      margin-left: 10px
      background: var(--bg03)
      .comment__author__info
        font-size: $font-size
        display: flex
        flex-direction: column
        .comment__replyingto
          font-size: small
  .comment__replytothis
    text-align: right

.signature
  font-family: $font-sidebar
  font-style: italic
  text-align: center
  margin: 20px auto

.kdmath
  overflow-x: auto

@media screen and (max-width: $md-width)
  .post-content
    .pagination
      display: block
      div
        margin: 20px 0
      div:last-child
        text-align: right

  .post-content
    label.margin-toggle:not(.sidenote-number)
      display: inline
    .sidenote, .marginnote
      display: none
      margin-right: auto;
    label
      cursor: pointer

  div#comments-container
    .comment__author
      display: flex
      justify-content: space-around
      flex-direction: column
