h6.small
  font-size: 24px
  line-height: 24px
  margin: 10px 0
h1.title, h3.title
  margin: 10px auto

hr.hr-double
  height: 5px
  border: none
  border-top: 3px solid var(--body-fg)
  border-bottom: 2px solid var(--body-fg)
hr.hr-double-reverse
  height: 5px
  border: none
  border-top: 2px solid var(--body-fg)
  border-bottom: 3px solid var(--body-fg)
hr.delta-sep
  overflow: visible
  padding: 0
  border: none
  border-top: medium double var(--body-fg)
  color: var(--body-fg)
  text-align: center
  &:after
    content: "δ"
    display: inline-block
    position: relative
    padding: 0 5px
    top: -0.5em
    font-size: 1.5em
    background: var(--body-bg)

.fullwidth
  width: 100% !important
  max-width: none !important

.subtitle
  font-family: $font-sidebar
  font-size: 16px
  margin-bottom: 20px
  a:link, a:visited, a:hover, a:active
    border-bottom: none
