table[class=]:not([class="fullwidth"])
  position: relative

  thead tr
    position: sticky
    top: $lg-nav-padding + $font-size + 10px

    @media screen and (max-width: $md-width)
      top: $sm-nav-padding + $font-size + 5px

    th
      background-color: var(--bg3-solid)

  &, th, td
    padding: 0 0.7em
    border: 1px solid var(--body-fg)

  :not(thead) tr
    transition: 0.2s background-color ease-in-out
  
  :not(thead) tr:hover
    background-color: var(--bg1)

table.has-border
  border-collapse: collapse
