@import '../_media'

body
  counter-reset: sidenote-counter
.sidenote, .marginnote
  display: none

  object
    max-width: 20vw

@media screen and (max-width: $md-width)
  .sidenote,
  .marginnote
    object
      border: 10px solid gray
      max-width: 70vw
  .margin-toggle:checked + .sidenote,
  .margin-toggle:checked + .marginnote
    display: block
    float: left
    left: 1rem
    clear: both
    width: 95%
