// nav
//   display: flex
//   justify-content: space-between
// 
//   & > div[class^='nav-']
//     .nav-main
//       display: flex
//       justify-content: space-around
//       align-items: center
//       
//       .nav-main-item
//         margin: 0 15px

.g-row
  display: flex
  justify-content: space-between

  for col in (1..12)
    > .g-col-{col},
    > .g-col-{col}-xs,
    > .g-col-{col}-s,
    > .g-col-{col}-m,
    > .g-col-{col}-l
      width: ( (100 / 12) * col )%
      flex-grow: 0
      @media (max-width:320px), (max-width:481px), (max-width:641px)
        width: auto

@media (max-width:320px)
  /* smartphones, iPhone, portrait 480x320 phones */
  .g-row
    display: block
    
@media (max-width:481px)
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .g-row
    display: block
    
@media (max-width:641px)
  /* portrait tablets, portrait iPad, landscape e-readers,
  landscape 800x480 or 854x480 phones */
  .g-row
    display: block
    
@media (max-width:961px)
  /* tablet, landscape iPad, lo-res laptops ands desktops */
