---
layout: default
title: Album Skeleton
---

<h1>CSS Album Skeleton</h1>

<div class="default-album"></div>

<style type="text/css">
.default-album {
  background-repeat: no-repeat;
  background-image:
    radial-gradient(circle 50px, #2d2d2d 99%, transparent 0),
    radial-gradient(circle 10px, white 99%, transparent 0),
    linear-gradient(#3e3e3e 100%, transparent 0);
  background-size:
    50px 50px,
    10px 10px,
    100% 100%;
}
</style>

Reference: [CSS-Tricks](https://css-tricks.com/building-skeleton-screens-css-custom-properties/)
