
<!-- About Start -->

<section id="{{ page.title }}" class="container is-fluid content-section has-text-centered">
  <div class="columns is-mobile">
	<div class="column is-8 is-offset-2">
    	{{ page.content | markdownify }}

		{% include recenttracks.html %}
  	</div>
  </div>
</section>

<!-- About End -->
