<div id="thread-reply-{{ include.id }}">
  <div class="comment__header">
    <div class="comment__author">
      {% if include.email != '' %}
      <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}" />
      {% endif %}
      <div class="comment__author__info">
        <b>{{ include.author }}</b>
        <small class="comment__replyingto">
          Replying to {{ include.replyName }}
        </small>
      </div>
    </div>
    <small class="comment__timestamp">
      <a href="#thread-reply-{{ include.id }}" title="Copy reply URL to clipboard" onclick="CopyURLtoComment('{{ site.baseurl }}{{ page.url }}#thread-reply-{{ include.id }}')">
        {% include aids/format-date.html date=include.date time=true %}
    </small>
  </div>
  <div class="comment__message">
    {{ include.message | markdownify }}
  </div>
</div>
