
<!-- Comments Start -->

  {% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}

  <div id="comments-container">
    <h2>Comments <span class="fa fa-comment"></span></h2>
      <div class="comments">
        {% if site.data.comments[page.type][post_slug] %}
          {% assign comments = site.data.comments[page.type][post_slug] | sort %}

          {% for comment in comments %}
            {% assign replyId=comment[1].replyID %}
            {% if replyId == null or replyId == "" %}
              {% assign id=comment[1]._id %}
              {% assign author=comment[1].name %}
              {% assign email=comment[1].email %}
              {% assign date=comment[1].date %}
              {% assign message=comment[1].message %}

              {% include comment.html id=id author=author email=email date=date message=message %}
            {% endif %}
          {% endfor %}
        {% else %}
        <center style="font-size: 20px;">
          {%- if page.comments-enabled -%}
          There are currently no comments.
          {%- endif -%}
        </center>
        {% endif %}
      </div>
      {% if site.is-comments-disabled %}
        <small>Comments have been disabled across the site.</small>
      {% elsif page.comments-enabled == "false" %}
        <small>Comments have been disabled for this post.</small>
      {% else %}
        <div class="new-comment-container">
          {% include new-comment.html %}
        </div>
      {% endif %}
  </div>

<!-- Comments End -->
