<div id="comment-{{ include.id }}">
  <div class="comment__header">
    <div class="comment__author">
      {% if include.email != '' %}
      <img class="comment__avatar" src="https://www.gravatar.com/avatar/{{ include.email }}" />
      {% endif %}
      <b>{{ include.author }}</b>
    </div>
    <small class="comment__timestamp">
      <a href="#comment-{{ include.id }}" title="Copy comment URL to clipboard" onclick="CopyURLtoComment('{{ site.baseurl }}{{ page.url }}#comment-{{ include.id }}')">
        {% include aids/format-date.html date=include.date time=true %}
      </a>
    </small>
  </div>
  <div class="comment__message">
    {{ include.message | markdownify }}

    {% unless site.is-comments-disabled or page.comments-enabled == "false" %}
    <div class="comment__replytothis">
      <button id="replyto" onclick="ReplyToComment('{{ include.id }}', '{{ include.author }}')">Reply to this comment</button>
    </div>
    {% endunless %}

    {% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}
    {% assign comments = site.data.comments[page.type][post_slug] | sort %}
    {% for reply in comments %}
      {% assign replyId=reply[1].replyID %}
      {% if replyId == include.id %}
        {% assign id=reply[1]._id %}
        {% assign author=reply[1].name %}
        {% assign email=reply[1].email %}
        {% assign date=reply[1].date %}
        {% assign message=reply[1].message %}
        {% assign replyName=reply[1].replyName %}

      {% include comment-reply.html id=id author=author email=email date=date message=message replyName=replyName %}
      {% unless site.is-comments-disabled or page.comments-enabled == "false" %}
      <div class="comment__replytothis">
        <button id="replyto" onclick="ReplyToComment('{{ include.id }}', '{{ author }}')">Reply to this comment</button>
      </div>
      {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
</div>
