
<!-- Contact Start -->

<section id="{{ page.title }}" class="container is-fluid content-section has-text-centered">
    <div class="columns is-mobile">
        <div class="column is-8 is-offset-2">

          {{ page.content | markdownify }}

          {% if site.email %}
            {% if site.email contains '@' %}
              {% assign newemail = site.email | split: '@' %}
                <p>
                <script>
                  function join_at_email(user, domain){
                  return (user && domain)?(user + "@" + domain):"";
                  }
                  document.write('<a href="mailto:'
                  + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
                  + '">'
                  + join_at_email( "{{ newemail[0] }}", "{{ newemail[1] }}" )
                  + '</a>'
                  );
                  </script>
                </p>
            {% else %}
              <p><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            {% endif %}
          {% endif %}
            
          {% include social-buttons.html %}

        </div>
    </div>
</section>

<!-- Contact End -->
