<header style="text-align: right">
  {% capture linesArray %}[{% for line in site.lines %} "{{ line }}"{% unless forloop.last %}, {% endunless %} {% endfor %}]{% endcapture %}
  <noscript>
  <span>{{ site.lines[2] }}</span>
  </noscript>
  <span id="random-quote" class="typeWriter" data-speed="5" data-text='{{ linesArray | escape }}' data-random="True">{{ site.lines[2] }}</span>
</header>
