<!-- HEAD Start -->

<head>
  {%- if site.force-https -%}
    {% comment %} <script> {% endcomment %}
    {% comment %} // Don't force http when serving the website locally {% endcomment %}
    {% comment %} if (!(window.location.host.startsWith("127.0.0.1")) && (window.location.protocol != "https:")) {% endcomment %}
    {% comment %}     window.location.protocol = "https"; {% endcomment %}
    {% comment %} </script> {% endcomment %}
  {%- endif -%}
  <meta charset="utf-8">
  <meta name="Googlebot" content="noindex, nofollow">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{%- unless page.description == blank or page.description == null -%}
    {{ page.description }}
    {%- else -%}
    {{ site.description }}
    {%- endunless -%}">
  <meta name="author" content="{{ site.author }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
  <link rel="apple-touch-icon" href="{{site.baseurl}}/{{site.img_dir}}/web-app/icon-144p.png">
  <link rel="webmention" href="https://webmention.io/japorized.ink/webmention" />
  <link rel="pingback" href="https://webmention.io/japorized.ink/xmlrpc" />
  <link rel="manifest" href="manifest.json" />
  {% assign fourofour = "/404.html"%}
  {% if page.url == {{fourofour}} | prepend: {{site.baseurl}} %}
    <meta http-equiv="refresh" content="20; url={{site.baseurl}}/">
  {% endif %}
  <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>

  <!-- Apple Web-App meta tags -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <!-- <meta name="apple-mobile-web-app-title" content="{{ site.title }}"> -->

  {% include styles.html %}

  {%- if site.favicon -%}
  <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{ site.img_dir }}/{{ site.favicon }}">
  {%- endif -%}

</head>

<!-- HEAD End -->
