{%- capture post_slug -%}
{{ page.date | date: "%Y-%m-%d" }}-{{ page.title | slugify }}
{%- endcapture -%}

{%- assign srcbase = include.src | slice: 0, 1 -%}
{%- capture src -%}
{%- if srcbase != "/" -%}
{{site.baseurl}}/{{site.img_dir}}/{{ page.type }}/{{post_slug}}/{{ include.src }}
{%- else -%}
{{site.baseurl}}/{{site.img_dir}}{{ include.src }}
{%- endif -%}
{%- endcapture -%}

<figure class="post_img">
  <img {% if include.is_lazy %} data-src="{{ src }}" class="lazy" {% else %} src="{{ src }}" {% endif %}
    alt="{{ include.caption }}" aria-label="{{ include.caption }}" />
  <figcaption>
    {{ include.caption }}
  </figcaption>
</figure>
