
<!-- Javascript Start -->
<script src="{{ site.baseurl }}/{{ site.js_dir }}/typelighter.min.js" async></script>

<script src="{{ site.baseurl }}/{{ site.js_dir }}/bundle.js" defer></script>

{% if page.layout == "blog" %}
  <script src="{{ site.baseurl }}/{{ site.js_dir }}/blogCatalog.js" async></script>
{% elsif page.layout == "resume" %}
  <script src="{{ site.baseurl }}/{{ site.js_dir }}/cv.js" async></script>
{% elsif page.type == "post" %}
  <script src="{{ site.baseurl }}/{{ site.js_dir }}/post.js" async></script>
{% endif %}

{% if page.layout != "blog" %}
  <script src="{{ site.baseurl }}/{{ site.js_dir }}/xBlogCatalog.js" async></script>
{% endif %}

<!-- KaTeX -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.css" integrity="sha384-D+9gmBxUQogRLqvARvNLmA9hS2x//eK1FhVb9PiU86gmcrBrJAQT8okdJ4LMp2uv" crossorigin="anonymous">
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/katex.min.js" integrity="sha384-483A6DwYfKeDa0Q52fJmxFXkcPCFfnXMoXblOkJ4JcA8zATN6Tm78UNL72AKk+0O" crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0-rc.1/dist/contrib/auto-render.min.js" integrity="sha384-yACMu8JWxKzSp/C1YV86pzGiQ/l1YUfE8oPuahJQxzehAjEt2GiQuy/BIvl9KyeF" crossorigin="anonymous"></script>

<script type="module" src="{{ site.baseurl }}/{{ site.js_dir }}/setup-katex.js" async></script>

<!-- Javascript End -->
