
<!-- Latest Post Preview Start -->

<section id="{{ page.title }}" class="container is-fluid content-section">
    <div class="columns is-mobile">
      <div class="column is-10 is-offset-1">
        {{ page.content | markdownify }}
        <center><span class="fa fa-exclamation-triangle"></span> Commenting does not work for now</center>
        <br />

        {% assign post = site.posts.first %}
        <h3>
          <strong> <a href="{{site.baseurl}}{{ post.url }}">{{post.title}} </a> </strong>
        </h3>
        <h6> <strong> {{ post.date | date_to_string }} </strong>
          <small>. {{ post.category }} .</small>
          <small> <a href="{{site.baseurl}}{{post.url}}#comments-container">{% include aids/count-comments.html post=post %} <span class="fa fa-comment"></span></a></small>
        </h6>

        {{ post.excerpt | strip_html | truncatewords: 100 | markdownify }}

        <a href="{{site.baseurl}}/blog/index.html"><h5><strong>View more posts</strong></h5></a>
      </div>
    </div>
    <div class="columns is-mobile">
      <div class="column is-10 is-offset-1">
        <hr />
      </div>
    </div>
    <div class="columns">
      <div class="column is-5 is-offset-1 is-10-mobile is-offset-1-mobile">
        <h4>Today I Learned</h4>
        {%- assign til = site.til.last -%}
        <h5><a href="{{site.baseurl}}{{til.url}}.html">{{til.title}}</a></h5>
        <h6><strong>{{ til.date | date:"%d %b %Y" }}</strong></h6>
        <p>
          {{ til.content | strip_html | markdownify | truncatewords: 40 }}
        </p>
        <div class="columns is-mobile has-text-centered">
          <a class="column" href="{{site.baseurl}}{{til.url}}.html">Continue reading</a>
          <a class="column" href="{{site.baseurl}}/til/index.html">See more TILs</a>
        </div>
      </div>
      <div class="column is-5 is-10-mobile is-offset-1-mobile">
        <h4>Math</h4>
        {%- assign math = site.math.last -%}
        <h5><a href="{{site.baseurl}}{{math.url}}.html">{{math.title}}</a></h5>
        <h6><strong>{{ math.date | date:"%d %b %Y" }}</strong></h6>
        <p>
          {{ math.content | markdownify | truncatewords: 35 }}
        </p>
        <div class="columns is-mobile has-text-centered">
          <a class="column" href="{{site.baseurl}}{{math.url}}.html">Continue reading</a>
          <a class="column" href="{{site.baseurl}}/math/index.html">See more math</a>
        </div>
      </div>
    </div>
</section>

<!-- Latest Post Preview End -->
