<!-- Microblog feed BEGIN -->
<article class="microblog-feed-container">
  <header>
    <h3>Mastodon feed</h3>
    <div class="microblog-follow">
      <a
        rel="me nofollow noopener noreferrer"
        href="https://mastodon.online/@japorized"
        >Follow me on Mastodon</a
      >
      <button id="microblog-refresh">
        <span class="fas fa-sync" aria-label=""></span>
        Refresh feed
      </button>
    </div>
  </header>
  <div class="microblog-feed">Loading...</div>
</article>
<script
  type="module"
  src="{{ site.baseurl }}/{{ site.js_dir }}/mastodon-feed.js"
  async
></script>
<!-- Microblog feed END -->
