<nav class="navbar">
  <div class="navbar-main">
	  <div class="navbar-logo">
	  	<div class="navbar-item">
	  		<a class="nav-item" href="#" data-scroll>
          <span class="fa fa-leaf" aria-hidden="true" title="logo"></span> &nbsp; Japorized
	  		</a>
	  	</div>
      <div class="navbar-item hidden-desktop toggler" data-target="navMenu">
        <span class="fa fa-bars"></span>
      </div>
	  </div>
	  <div class="navbar-menu" id="navMenu">
      <a class="navbar-item" href="{{ site.baseurl }}/">Home</a>
      {% for i in site.nav %}

      {% if i.subnav.size > 0 %}
      <div class="navbar-item">
        <a href="{{ site.baseurl }}/{{ i.name }}">{{ i.name }}</a>
        <div id="{{ i.name }}-subnav" class="subnav">
          <ul>
          {% for item in i.subnav %}
            <li><a href="{{ site.baseurl }}/{{ item }}">{{ item }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>

      {% else %}
      <a class="navbar-item" href="{{ site.baseurl }}/{{ i.name }}">{{ i.name }}</a>
      {% endif %}

      {% endfor %}
      <a class="navbar-item" href="{{ site.baseurl }}/search"><span class="fa fa-search" aria-hidden="true" title="search"></span></a>
      <span class="navbar-item theme-toggle" title="Light/Dark Toggler"><span class="fas fa-circle"></span></span>
	  </div>
  </div>
  <hr class="hr-double" style="margin: 15px 0;" />
</nav>
