<h4 id="post-new-comment-heading">Post a new comment</h4>
<form id="post-new-comment" method="post" action="{{ site.staticmanURL }}/comments" onsubmit="return newcomment_validation()">
  <input type="hidden" name="options[slug]" value="{{ post_slug }}" />
  <input type="hidden" name="options[parent]" value="{{ post_slug }}" />
  <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}" />
  <input type="hidden" name="options[redirect]" value="{{ site.url }}{{ page.url }}" />
  <input type="hidden" name="options[postType]" value="{{ page.type }}" />
  <input type="hidden" name="fields[replyID]" id="replyIdInput" value="" />
  <input type="hidden" name="fields[replyName]" id="replyNameInput" value="" />

  <input class="text-field" type="text" name="fields[name]" placeholder="Name" required />
  <input class="text-field" type="email" name="fields[email]" placeholder="Email (will be encrypted)" required />
  <input type="hidden" id="comment-website" name="website" placeholder="Website (optional)" value="" />
  <input class="text-field form-url" style="display: none" type="url" name="url" placeholder="Website (optional)" />
  <textarea class="text-field" rows="5" name="fields[message]" placeholder="Your comment here (markdown enabled)" required></textarea>
  
  Human question: <br />
  <label id="form-question-label" for="form-question"></label>
  <select id="form-question" name="form-question">
  </select>

  <input class="form-submit" type="Submit" value="Send" />
</form>
<small>* Comments are subject to review</small><br />
<noscript>** Please enable JavaScript for validation</noscript>
