
<!-- Pagination Links Start -->

<div class="pagination">

  {% if page.previous.url != nil %}
    <div><a href="{{ site.baseurl }}{{ page.previous.url }}">Previously: {{ page.previous.title }}</a></div>
  {% endif %}

  {% if page.next.url != nil %}
    <div><a href="{{ site.baseurl }}{{ page.next.url }}">Next: {{ page.next.title }}</a></div>
  {% endif %}

</div>

<!-- Pagination Links End -->
