<!--
{%- capture post_slug -%}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{%- endcapture -%}
{%- capture post_title -%}{{ page.title | slugify | replace: '-', '_' }}{%- endcapture -%}
<div id="reactions-container">
  <h4>Add a reaction</h4>
  <form id="add-reaction" method="post" action="{{ site.staticmanURL }}/reactions"
    onsubmit="reactionSubmitAction()">
    <input type="hidden" name="options[slug]" value="{{ post_slug }}" />
    <input type="hidden" name="options[parent]" value="{{ post_slug }}" />
    <input type="hidden" name="options[origin]" value="{{ site.url }}{{ page.url }}" />
    <input type="hidden" name="options[redirect]" value="{{ site.url }}{{ page.url }}" />
    <input type="hidden" name="options[postType]" value="{{ page.type }}" />
    <input type="hidden" name="fields[reaction]" value="" />
    <div class="reaction-buttons">
      {% for reaction in site.reactions %}
      <button value="{{ reaction.title }}" title="{{ reaction.title }}">
        {{ reaction.icon }} &nbsp;&nbsp;
        [{% include aids/count-reaction.html post=page reaction=reaction.title %}]
      </button>
      {% endfor %}
    </div>
    <input class="form-submit" type="Submit" value="Send" />
  </form>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(e) {
  var form = document.querySelector('#add-reaction'),
    submitBtn = form.querySelector('.form-submit'),
    reactionField = form.querySelector('input[name="fields[reaction]"]'),
    reactions = form.querySelectorAll('button');
    submitBtn.style.display = "none";
  reactions.forEach(function(reaction) {
    reaction.addEventListener('click', function(event) {
      event.preventDefault();
      reactionField.value = this.value;
      var lastSel = document.querySelector('.reaction-buttons .selected');
      if ( lastSel != null )
        lastSel.classList.remove('selected');
      this.classList.add('selected');
      submitBtn.style.display = "block";
    })
  })

  if ( typeof(Storage) !== "undefined" ) {
    if ( typeof(sessionStorage.{{ post_title }}) === "undefined" ) {
      sessionStorage.{{ post_title }} = {
        reacted: false,
        reaction: ""
      }
    }
    console.log(sessionStorage.{{ post_title }}.reacted);
    if ( sessionStorage.{{ post_title }}.reacted ) {
      var choice = form.querySelector('button[value="' + sessionStorage.{{ post_title }}.reaction + '"]');
      choice.classList.add('selected');
      reactions.forEach(function(reaction) {
        this.disabled = true;
      })
    }
  }
})

function reactionSubmitAction() {
  sessionStorage.{{ post_title }}.reacted = true;
  sessionStorage.{{ post_title }}.reaction = document.querySelector('#add-reaction input[name="fields[reaction]"]').value;
  return true;
}
</script>
-->
