<!-- BEGIN Recently Finished Animes -->
<div class="kitsu-container">
  <h4 class="kitsu__title-text"></h4>
  <div class="kitsu__stats"></div>
  <h4>Recently Watching</h4>
  <div class="kitsu__recent-watched"></div>
  <h4>Recently Completed</h4>
  <div class="kitsu__recent-completed"></div>
</div>
<link rel="stylesheet" href="{{ site.baseurl }}/{{ site.css_dir }}/recentAnime.css" />
  <script src="{{ site.baseurl }}/{{ site.js_dir }}/recentAnime.js"></script>
<!-- END Recently Finished Animes -->
