
<!-- Share Buttons Start -->

{% if page.layout == "post" %}
<h4 style="margin-bottom: 10px;">Share this post to</h4>
{% else %}
<h4 style="margin-bottom: 10px;">Share this page to</h4>
{% endif %}

<div class="share">

  {% if site.fb-share %}
    <div>
      <a class="fab fa-facebook" href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Facebook"></a>
    </div>
  {% endif %}

  {% if site.twitter-share %}
    <div>
      <a class="fab fa-twitter" href="http://twitter.com/intent/tweet?status={{ page.title }}+{{ site.url }}{{ page.url }}" target="_blank" title="Twitter"></a>
    </div>
  {% endif %}

  {% if site.reddit-share %}
    <div>
      <a class="fab fa-reddit" href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Reddit"></a>
    </div>
  {% endif %}

  {% if site.stumbleupon-share %}
    <div>
      <a class="fab fa-stumbleupon" href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="StumbleUpon"></a>
    </div>
  {% endif %}

  {% if site.tumblr-share %}
    <div>
    <a class="fab fa-tumblr" href="http://tumblr.com/widgets/share/tool?canonicalUrl={{ site.url }}{{ page.url }}" target="_blank" title="Tumblr"></a>
    </div>
  {% endif %}

</div>

<!-- Share Buttons End -->
