<!-- Social Buttons Start -->

<ul class="social-buttons">
  {% for network in site.social %} {% if network.title != "rss" %}
  <li>
    <a
      href="{{ network.url }}"
      rel="me noopener noreferrer"
      aria-label="Find me at {{ network.title | capitalize }}"
      ><i class="fab fa-{{ network.title }} fa-fw" aria-label=""></i
    ></a>
  </li>
  {% else %}
  <li>
    <a href="{{ network.url }}" aria-label="Get the RSS feed"
      ><i class="fas fa-{{ network.title }} fa-fw" aria-label=""></i
    ></a>
  </li>
  {% endif %} {% endfor %}
  <li>
    <a href="mailto:japorized@tuta.io" rel="me" aria-label="Email me"
      ><i class="fas fa-envelope fa-fw" aria-label=""></i
    ></a>
  </li>
</ul>

<!-- Social Buttons End -->
