<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
  integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous"
/>

<script>
  if (window.matchMedia('(prefers-color-scheme: dark)').media === 'not all') {
    // fallback to light theme
    document.head.insertAdjacentHTML(
      'beforeend',
      `<link id="theme" rel="stylesheet" href="{{ site.baseurl }}/{{ site.css_dir }}/light.css" />
       <link id="hljs-style" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-light.min.css" />`,
    );
  }
</script>
<link
  rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-light.min.css"
  media="(prefers-color-scheme: light)"
/>
<link
  rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-dark.min.css"
  media="(prefers-color-scheme: dark)"
/>
<link
  id="base-theme"
  href="{{site.baseurl}}/{{site.css_dir}}/colors.css"
  rel="stylesheet"
/>
<script>
  function setLightTheme() {
    document.write(
      `<link id="theme" rel="stylesheet" href="{{ site.baseurl }}/{{ site.css_dir }}/light.css" />
       <link id="hljs-style" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-light.min.css" />`,
    );
  }
  function setDarkTheme() {
    document.write(
      `<link id="theme" rel="stylesheet" href="{{ site.baseurl }}/{{ site.css_dir }}/dark.css" />
       <link id="hljs-style" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-dark.min.css" />`,
    );
  }

  if (typeof Storage !== 'undefined') {
    switch (sessionStorage.theme) {
      case 'light':
        setLightTheme();
        break;
      case 'dark':
        setDarkTheme();
        break;
    }
  } else {
    setLightTheme();
  }
</script>

<link rel="stylesheet" href="{{site.baseurl}}/{{site.css_dir}}/base.css" />

{%- if page.title == "CV" -%}
<link rel="stylesheet" href="{{ site.baseurl }}/{{ site.css_dir }}/cv.css" />
{%- endif -%} {%- if page.layout == "blog" -%}
<link
  rel="stylesheet"
  href="{{ site.basurl }}/{{ site.css_dir }}/blogCatalog.css"
/>
{%- endif -%} {%- if page.layout == "category-posts" or page.layout == "tag-posts" -%}
<link
  rel="stylesheet"
  href="{{ site.basurl }}/{{ site.css_dir }}/categories.css"
/>
{%- endif -%} {%- if page.layout == "projects" -%}
<link
  rel="stylesheet"
  href="{{ site.basurl }}/{{ site.css_dir }}/projects.css"
/>
{%- endif -%} {%- if page.layout == "search" %}
<link rel="stylesheet" href="{{ site.basurl }}/{{ site.css_dir }}/search.css" />
{%- endif -%}

<noscript>
  <link
    rel="stylesheet"
    href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.14.2/styles/gruvbox-light.min.css"
  />
  <style media="screen">
    #blog-outer-container #blog_container article {
      cursor: auto;
    }
  </style>
</noscript>
