{% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}
<figure class="post_img">
  <center>
    <object type="image/svg+xml" data="{{site.baseurl}}/{{site.img_dir}}/{{ page.type }}/{{post_slug}}/{{ include.src }}" alt="{{ include.caption }}">
    Your browser does not support SVG
  </object>
	<figcaption>{{ include.caption }}</figcaption>
  </center>
</figure>
