{% capture post_slug %}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{% endcapture %}
<div class="post-video">
  <video controls src="{{site.baseurl}}/{{site.img_dir}}/{{ page.type }}/{{post_slug}}/{{ include.src }}">
    <source src="{{site.baseurl}}/{{site.img_dir}}/{{ page.type }}/{{post_slug}}/{{ include.src }}">
      Your browser does not support HTML5 video!
  </video>
  <div class="caption">{{ include.caption }}</div>
</div>
