---
layout: resume
section-type: resume
title: CV
---

<!--
  Welcome to my humble abode. You must either be a curious mind, or a keen recruiter.

  If you are the former, please accept my praise.
  Stay curious and hungry, for that is what makes us humans interesting.

  If you are the latter, please feel free to drop me an email saying that you saw this message
  at <japorized (dot) ng (dot) ks (at) protonmail (dot) com>, and feel free having a chat with me.
-->

<section class="center myInfo" aria-label="Brief self-introduction">
  <img class="cv-head" src="{{ site.baseurl }}/{{ site.img_dir }}/myface.jpg" />
  <br />
  <h1 class="myName">Johnson Ng</h1>
  Software Developer @ Snappymob | Malaysian

  <div class="about">
    Pure Mathematics | <span class="fa fa-leaf" aria-label="foliage"></span> |
    Web Development | Programming | Design | Gaming | Coffee & Tea
  </div>

  <div class="about">
    <a href="https://gitlab.com" target="_blank"
      ><span class="fab fa-gitlab" aria-label=""></span> Gitlab</a
    >
    |
    <a href="https://github.com" target="_blank"
      ><span class="fab fa-github" aria-label=""></span> Github</a
    >
  </div>

  <div class="anchors">
    <b>Jump to:</b>
    <div class="anchors-list"></div>
  </div>
</section>

<section class="personal-statement">
  <h1 class="section-head" id="personal-statement">
    <i class="fas fa-user"></i> Personal Statement
  </h1>

  <p>
    The thrill of intellectual discovery satiates my desire to know, and it is a
    never-ending process, for new knowledge leads only to more questions.
  </p>

  <p>
    I am a software developer who works mainly with web technologies. I am
    interested in teaching, programming, software/web design, or devops. Almost
    all of my computer-related skills are self-taught. Go further down to see
    what I have to offer. Do feel free to contact me either for enquiries, or if
    you would like to further discuss about what I can do for you.
  </p>
</section>

<div class="grid-2-col sm-grid-1-col">
  <section>
    <h1 class="section-head" id="work-exp">
      <i class="fas fa-briefcase"></i> Work Experiences
    </h1>
    <div class="workexp-container">
      {% for exp in site.data.workexp %}
      <div class="duration-num">{{ exp.durationNum }}</div>
      <div class="job-info">
        <span class="durationPeriod"
          >{{ exp.durationPeriod }} ({{ exp.period }})</span
        ><br />
        <span class="job-pos">{{ exp.position }}</span> <br />
        <span class="job-employer"
          >{{ exp.employer }} {% if exp.department != nil %} | {{ exp.department
          }} {% endif %}
        </span>

        <br />

        <ul class="job-desc">
          {% for desc in exp.description %}
          <li>{{ desc }}</li>
          {% endfor %}
        </ul>
      </div>

      {% endfor %}
    </div>
  </section>

  <section>
    <h1 class="section-head" id="projects">
      <i class="fas fa-chalkboard"></i> Project Highlights
    </h1>
    <div class="projects">
      {% for project in site.data.cv_projects %}
      <div class="project">
        <div class="project-heading">
          <span class="project-title">{{ project.title }}</span>
          {% if project.role != null and project.role != blank %} |
          <span class="project-role">{{ project.role }}</span>
          {% endif %}
        </div>
        <div class="project-description">{{ project.description }}</div>
        <div class="project-url">
          {% for url in project.urls %} {% assign isGithub = url | split:
          'github' %} {% assign isGitlab = url | split: 'gitlab' %}

          <a href="{{ url }}">
            {%- if isGithub[1] != null -%}
            <span aria-label="Github" class="fab fa-github"></span>
            {%- elsif isGitlab[1] != null -%}
            <span aria-label="Gitlab" class="fab fa-gitlab"></span>
            {%- else -%}
            <span aria-label="Website" class="fas fa-globe"></span>
            {%- endif -%} </a
          >&nbsp; {% endfor %}
        </div>
        <div class="project-highlights">
          <ul>
            {%- for highlight in project.highlights -%}
            <li>{{ highlight }}</li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>

<div class="grid-2-col sm-grid-1-col">
  <section>
    <h1 class="section-head" id="volunteer">
      <i class="fas fa-users"></i> Volunteering Experiences
    </h1>
    <div class="volunteer-container">
      {% for exp in site.data.voluntary_exp %}
      <div>
        <small class="sans-serif">{{ exp.duration }}</small>
        <h6>{{ exp.title }}</h6>
        <small class="subtitle">{{ exp.organization }}</small>
        <ul>
          {% for desc in exp.descriptions %}
          <li>{{ desc }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </section>

  <div class="flow-spacing">
    <section>
      <h1 class="section-head" id="education">
        <i class="fas fa-user-graduate"></i> Education
      </h1>
      {% for study in site.data.education %}
      <div>
        <small class="sans-serif">{{ study.begin }} to {{ study.end }}</small>
        <h6 class="sans-serif">{{ study.focus }}</h6>
        <small class="subtitle">{{ study.school }}</small>
      </div>

      {% if forloop.last == false %}
      <br />
      {% endif %} {% endfor %}
    </section>

    <section>
      <h1 class="section-head" id="certs">
        <i class="fas fa-certificate"></i> Certifications
      </h1>
      <div class="g-row">
        <div class="g-col-6">
          <b>Passed Actuarial Examinations</b>
          <br />
          SOA/CAS Exam P/1
        </div>
        <div class="g-col-6">
          <b>Attempted Actuarial Examinations</b>
          <br />
          SOA/CAS Exam FM/2
        </div>
      </div>
    </section>
  </div>
</div>

<section>
  <h1 class="section-head" id="tools">
    <i class="fas fa-wrench"></i> Tools of the Trade
  </h1>
  <div class="tools-container">
    {% for group in site.data.mytools %}
    <div>
      <b class="sans-serif">{{ group.title }}</b>
      <div class="tools-list">
        {% for tool in group.tools %} {% if tool.url != blank and tool.url !=
        null %}
        <a class="{{ tool.category }}" href="{{ tool.url }}"
          >{{ tool.title }}</a
        >
        {% else %}
        <span class="{{ tool.category }}">{{ tool.title }}</span>
        {% endif %} {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<section>
  <h1 class="section-head" id="skills">
    <i class="fas fa-magic"></i> Skills & Knowledge
  </h1>
  <div class="skills-container">
    {% for skill in site.data.cv_skills %}
    <div class="skill-item">
      <div class="skill">{{ skill.name }}</div>
      <div class="level">
        {% for i in (1..10) %} {% if i <= skill.level %}
        <i class="fas fa-circle lvl-{{ skill.level }}"></i>
        {% else %}
        <i class="far fa-circle"></i>
        {% endif %} {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</section>

<div class="grid-2-col sm-grid-1-col">
  <section>
    <h1 class="section-head" id="langs">
      <i class="fas fa-language"></i> Language Skills
    </h1>
    <div class="language-container">
      {% for lang in site.data.cv_language %}
      <div class="language language-level-{{ lang.level }}">
        <div class="language-name">{{ lang.language }}</div>
        <div class="language-description">{{ lang.description }}</div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section>
    <h1 class="section-head" id="hobbies">
      <i class="fas fa-star"></i> Hobbies & Interests
    </h1>
    <div class="hobby-container">
      {% for hobby in site.data.hobbies %}
      <div class="hobby-item">
        <span class="hobby-logo">{{ hobby.logo }}</span>
        {{ hobby.name }}
      </div>
      {% endfor %}
    </div>
  </section>
</div>

<section>
  <h1 class="section-head" id="misc">
    <i class="fas fa-plus-circle"></i>
    Miscellaneous Achievements & Other Prides
  </h1>
  <ul class="misc-achiv-container">
    {% for pride in site.data.misc_achievements %}
    <li>{{ pride }}</li>
    {% endfor %}
  </ul>
</section>

<hr class="sec-sep" />

<center>
  <p>
    This aside from the masonry layout,<br />
    everything else in the CV is handcrafted<br />
    with the power of templating in<br />
    static site generators,
    <a href="http://stylus-lang.com/">Stylus</a>, and JavaScript.
  </p>

  <p>(JavaScript was only used for generating the anchors)</p>
</center>
