---
layout: default
title: Labs
---

## <span class="fa fa-cog fa-spin"></span> Japorized's Labs <span class="fa fa-flask"></span>

#### Oh ho! What do we have here? A sneaky little rat.

But I did mention in my first post that this blog is a laboratory... Why am I arguing with myself there?

And so you have sneaked into the core of my laboratory! That justifies things. You shall now face my <s>wrath</s> waves of evil experiments. No no, it's fine. You can touch em. They don't bite.

##### CSS Experiments  
["Stitched" Look](../labs/lab1/)  
[Corner Ribbon](../labs/lab2/)  
[CSS Album Skeleton](../labs/lab3)  
[CSS Gradients](../labs/lab4)  

##### Fun Projects
none for now :cry:

All credits of these snippets belong to their respective owners, although I do not take codes that are specifically licensed. Some of them may also be my own product, or that I have collaborated with, and some that I have simply never finished...
