// Colors
dark()
  --body-bg         : #222222
  --body-fg         : #fff9e5
  --color-primary   : #cd00ff
  --highlight-color : rgba(108,5,252,0.5)

  --bg03 : rgba(237, 237, 237, 0.03)
  --bg1  : rgba(237, 237, 237, 0.1)
  --bg3  : rgba(237, 237, 237, 0.3)
  --bg5  : rgba(237, 237, 237, 0.5)
  --bg7  : rgba(237, 237, 237, 0.7)
  --bg3-solid: #5f5f5f

  --color-light      : #d3d0c8
  --color-dark       : #222222
  --color-gray       : #707369
  --color-magenta    : #cd98cd
  --color-red        : #f47678
  --color-yellow     : #e2b552
  --color-green      : #98cd97
  --color-darkgreen  : #2ca58d
  --color-lightblue  : #61cccd
  --color-blue       : #6498ce
  --color-brown      : #d47b4e
  --color-lavender   : #dcd6f7
  --color-bluepurple : #a6b1e1

