@import '_media'
@import '../../node_modules/rfs/stylus'

#blog-outer-container
  #blog_container article
      cursor: pointer

  .latest-post
    h1.super-title
      responsive-font-size(96px)
      line-height: normal
      text-align: center
    article
      padding: 20px
      .subtitle
        text-align: center

  .latest-post, .masonry
    article
      -moz-transition: background .2s ease-in-out
      -webkit-transition: background .2s ease-in-out
      transition: background .2s ease-in-out
      margin-bottom: 100px
      &:hover, &:active
        background: var(--bg03)
      div.button.readmore
        max-width: 200px
        width: 20%
        min-width: 150px
        border-width: 2px
        text-align: center

  .masonry
    article.masonry-item
      padding: 10px
      -moz-transition: opacity .5s ease-in-out, padding .2s ease-in-out
      -webkit-transition: opacity .5s ease-in-out, padding .2s ease-in-out
      transition: opacity .5s ease-in-out, padding .2s ease-in-out
    .msnry-animate
      opacity: 0
      padding-top: 40px

  .loadmore-container
    text-align: center
    .loadMore
      width: 35%
      max-width: 350px
      min-width: 250px
      text-align: center
      margin: 20px auto
      border: 1px solid var(--body-fg)
      padding: 10px
      cursor: pointer
      &:hover, &:focus
        color: var(--body-fg)

@media screen and (max-width: $md-width)
  #blog-outer-container
    .latest-post
      article
        padding: 5px
      h1.super-title, article .subtitle
        text-align: left

    .masonry
      height: auto !important
      .masonry-item
        width: 100% !important
        position: relative !important
        top: 0 !important
        left: 0 !important
        margin: 20px auto;
