@import '_variables'
@import '_media'
@import 'cv/base'
@import 'cv/headings'
@import 'cv/info'
@import 'cv/language'
@import 'cv/workexp'
@import 'cv/projects'
@import 'cv/tools'
@import 'cv/skills'
@import 'cv/hobbies'

main#cv > * + *,
.flow-spacing > * + *
  margin-top: 1.5rem

.grid-2-col
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 0.5rem
  grid-row-gap: 1.2rem

.sm-grid-1-col
  @media screen and (max-width: $sm-width)
    display: grid
    grid-template-columns: 1fr
    grid-column-gap: 0

.personal-statement
  > * + *
    margin-top: 1.1rem
