.project-container
  display: flex
  flex-direction: column
  text-align: center
  .project-item
    margin: 10px auto 30px auto
    a:link, a:visited, a:hover, a:active
      border-bottom: none
      color: var(--body-fg)
    img
      max-width: 100%
