.search
  margin-right: 10px

.search-results
  ul
    list-style: none
    li
      margin: 10px 0
.search-help
  margin-top: 20px
  text-align: left
  display: none
  transition: all .2s ease-in-out;
