@import '../_variables'
@import '../_media'

.heading-font
  font-family: $font-headers
.sans-serif
  font-family: $font-sans-serif
.center
  text-align: center

.anchors
  margin-top: 50px
  .anchors-list
    margin: 0 auto
    display: grid
    grid-template-columns: 20% 20% 20% 20%
    grid-column-gap: 5%
    grid-row-gap: 10px
    justify-content: center
    justify-items: center

    > div
      margin: auto 20px

    @media screen and (max-width: $sm-width)
      grid-template-columns: 45% 45%
      > div
        margin: 10px auto
