@import '../mixins/common'
@import '../_media'

.hobby-container
  display: grid
  grid-template-columns: 33.33% 33.33% 33.33%
  grid-template-rows: auto
  grid-row-gap: 20px
  justify-content: space-between

  .hobby-item
    justify-self: center
    align-self: center
    width: 120px
    height: 120px
    margin: 5px
    border: 1px solid var(--body-fg)
    border-radius 50%
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    align-content: center
    justify-content: center

    .hobby-logo
      font-size: 36px

@media screen and (max-width: $md-width)
  .hobby-container
    grid-template-columns: 50% 50%
