@import '../_variables'

.myInfo
  display: block
  font-family: $font-headers
  margin-bottom: 50px

  img.cv-head
    width: 200px
    height: 200px
    border: 10px solid var(--color-primary)
    border-radius 100%
    margin: 20px
  .myName
    margin-bottom: 0
  .about
    font-family: $font-sans-serif
    font-size: 20px
    line-height: 1.6
    width: 80%
    margin: 0 auto
    margin-top: 20px
