@import '../_media'

.language-container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto
  grid-column-gap: 0.5rem
  grid-row-gap: 1rem

  .language
    display: flex;
    border: 2px solid
    border-radius: 3rem
    > .language-name,
    > .language-description
      padding 0 0.5rem
    .language-description
      width: 100%
      border-radius: 0 3rem 3rem 0
    &.language-level-1
      border-color: var(--color-red)
      .language-description
        background: var(--color-red)
    &.language-level-2
      border-color: var(--color-yellow)
      .language-description
        background: var(--color-yellow)
    &.language-level-3
      border-color: var(--color-green)
      .language-description
        background: var(--color-green)
    &.language-level-4
      border-color: var(--color-magenta)
      .language-description
        background: var(--color-magenta)

@media screen and (max-width: $md-width)
  .language-container
    grid-template-columns: 1fr
