@import '../_media'

.skills-container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto
  grid-template-areas: "skill level"
  grid-column-gap: 0.5rem
  align-items: center
  .skill-item
    display: grid
    grid-column-gap: 20px
    grid-template-columns: 40% 60%
    align-self: center
    .skill
      justify-self: right
    for lv in 9 10
      .level > .lvl-{lv}
        color: var(--color-green)
    for lv in 6 7 8
      .level > .lvl-{lv}
        color: var(--color-magenta)
    for lv in 3 4 5
      .level > .lvl-{lv}
        color: var(--color-yellow)
    for lv in 1 2
      .level > .lvl-{lv}
        color: var(--color-red)

@media screen and (max-width: $md-width)
  .skills-container
    display: block
    .level
      font-size: $font-size-small - 4px
