@import '../mixins/common'
@import '../_media'

.tools-container
  display: grid
  grid-template-columns: 1fr 1fr
  grid-column-gap: 0.5rem
  grid-row-gap: 1rem

  @media screen and (max-width: $sm-width)
    grid-template-columns: 1fr
    grid-column-gap: 0

  .tools-list
    list-style: none
    overflow: auto
    color: var(--color-dark)

    a, span
      display: inline
      padding: 5px 15px
      margin: auto 5px
      line-height: 3rem
      border-radius 20px
      white-space: nowrap

    span
      background: var(--color-yellow)

    a:link, a:visited, a:hover, a:focus
      background: var(--color-blue)
      color: var(--body-bg)
      border: none
      text-decoration: none
      white-space: nowrap
