@import '../_variables'
@import '../_media'

.workexp-container
  display: grid
  grid-template-columns: 20% 80%
  grid-template-rows: auto
  grid-template-areas: "durationNum jobInfo"
  grid-row-gap: 20px
  .duration-num
    font-family: $font-sans-serif
    font-size: 100px
    font-weight: 700
    padding: 0
    margin-top: 30px
    justify-self: center
    @media screen and (max-width: $sm-width)
      .fa.fa-check
        font-size: 0.6em
  .job-info
    .durationPeriod
      font-family: $font-sans-serif
      font-weight: 100
      margin-right: 15px
    .job-pos
      font-family: $font-sans-serif
      font-size: $font-size-big
      font-weight: 700
      line-height: 24px
    .job-employer
      font-family: $font-sans-serif
      font-size: $font-size-small
    .job-desc
      list-style-type: disc
      margin: 10px 0
      padding: 0 20px
