<!-- About Layout Start -->
<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
  {% include head.html %}

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include navigation.html %}
    
    <section id="{{ page.title | slugify }}" class="container content-section has-text-centered"> 
      <div class="columns is-mobile">
        <div class="column is-8 is-offset-2">
          
          {{ content | markdownify }}

          {% include recenttracks.html %}
          
          <div class="signature"> - Japorized -</div>

        </div>
      </div>
    </section>

    <section id="{{ page.title | slugify }}" class="container content-section has-text-centered">
      <div class="columns">
        <div class="column is-8 is-offset-2">
          <h5>Find me on</h5>
          {% include social-buttons.html %}
        </div>
      </div>
    </section>

    {% include footer.html %}
    
    {% include js.html %}
  </body>
</html>
<!-- About Layout End -->
