<!doctype html>
<html lang="{{ site.lang }}">
	{% include head.html %}
	<body id="page-top" data-spy="scroll">
    <div id="blog-outer-container" class="outer-container">

		  {% include navigation.html %}
      {%- assign page_slug = page.title | slugify -%}
      <div style="text-align: center;">
        {{ page.content | markdownify }}
      </div>

      <div id="blog_container" data-curPage="{{ paginator.page }}" data-totalPages="{{ paginator.total_pages }}">
			{% for post in paginator.posts %}
      {% if forloop.index0 == 0 and paginator.page == 1 %}
				<div class="latest-post">
				  <article onclick="gotoPost('{{ site.baseurl }}{{ post.url }}')">
            <div class="post-block">
              <a href="{{ site.baseurl }}{{ post.url }}">
                <h1 class="super-title">{{ post.title }}</h1>
              </a>
              <div class="subtitle">
                {{ post.date | date_to_string }} &nbsp;
                {%- unless post.category == nil or post.category == '' -%}
                <span class="fa fa-folder" aria-hidden="true" title="category"></span> {{ post.category }} &nbsp;
                {%- endunless -%}
                {% include aids/count-comments.html post=post %} <span class="fa fa-comment" aria-hidden="true" title="comments"></span>
              </div>

              <section class="post-excerpt">
                {% if post.content contains '<!-- more -->' %}
                  {{ post.content | split: '<!-- more -->' | first }}
                {% else %}
                  {{ post.content | markdownify | truncatewords: 125 }}
                {% endif %}
              </section>
				    </div>

            <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="button readmore"><b>Read More >></b></div>
            </a>
				  </article>
				</div>
        <noscript>
          <hr class="delta-sep" />
        </noscript>
      {% else %}
        {% if paginator.page > 1 %}
          {% if forloop.index0 == 0 %}
            {%- assign notintag = true -%}
          {% else %}
            {%- assign notintag = false -%}
          {% endif %}
        {% else %}
          {% if forloop.index0 == 1 %}
            {%- assign notintag = true -%}
          {% else %}
            {%- assign notintag = false -%}
          {% endif %}
        {% endif %}
        {% if notintag == true %}
				<div class="masonry">
        {% endif %}
        <article class="masonry-item" onclick="gotoPost('{{ site.baseurl }}{{ post.url }}')">
          <div class="post-block">
            <a href="{{ site.baseurl }}{{ post.url }}">
              <h1 class="title">{{ post.title }}</h1>
            </a>
            <div class="subtitle">
              {{ post.date | date_to_string }} &nbsp;
              {%- unless post.category == nil or post.category == '' -%}
              <span class="fa fa-folder" aria-hidden="true" title="category"></span> {{ post.category }} &nbsp;
              {%- endunless -%}
              {% include aids/count-comments.html post=post %} <span class="fa fa-comment" aria-hidden="true" title="comments"></span></div>

            <section class="post-excerpt">
              {% if post.content contains '<!-- more -->' %}
                {{ post.content | split: '<!-- more -->' | first }}
              {% else %}
                {{ post.content | markdownify | truncatewords: 75 }}
              {% endif %}
            </section>

				  </div>
          <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="button readmore"><b>Read More >></b></div>
				  </a>
				</article>

				{% if forloop.last %}
				</div>
        {% else %}
        <noscript>
          <hr class="delta-sep" />
        </noscript>
				{% endif %}
			{% endif %}
			{% endfor %}
      </div>

      <div class="loadmore-container">
        {% if paginator.previous_page %}
        <a class="loadMore" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous page</a>
        {% endif %}
        {% if paginator.next_page %}
        <a class="loadMore" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next page</a>
        {% endif %}
      </div>

		  {% include footer.html %}
    </div>
    
		{% include js.html %}

    {% include secret-footer.html %}

	</body>
</html>
