<!doctype html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll">
    <div class="outer-container">
      {% include navigation.html %}

      <div class="inner-container">
        <main>
          <h1><span class="fa fa-folder"></span> Category : {{ page.title }}</h1>
          <div class="simple-posts-container">
            {% for post in site.posts %}
            {% if post.category == page.title %}
            <div class="simple-post-container">
              <a href="{{ site.baseurl }}{{ post.url }}"><h1 class="title">{{ post.title }}</h1></a>
              <div class="subtitle">{{ post.date | date_to_string }} &nbsp; <a href="{{ site.baseurl }}/categories/{{ post.category }}"><span class="fa fa-folder"></span> {{ post.category }}</a> &nbsp; <a href="{{ site.baseurl }}{{ post.url }}#comments-container">{% include aids/count-comments.html post=post %} <span class="fa fa-comment"></span></a></div>

              <div class="post-excerpt">
                {% if post.content contains '<!-- more -->' %}
                  {{ post.content | split: '<!-- more -->' | first | markdownify }}
                {% else %}
                  {{ post.excerpt | markdownify }}
                {% endif %}
              </div>

              <a class="button" href="{{ site.baseurl }}{{ post.url }}"><b>READ MORE >></b></a>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </main>
        <aside>
          <h6 class="small"><span class="fa fa-folder"></span> Categories</h6>
          <ul class="simple-ul-list__has-active">
            {% for category in site.categories %}
            {% unless category[0] == page.title %}
            <li><a href="{{ site.baseurl }}/categories/{{ category[0] }}">{{ category[0] }}</a></li>
            {% else %}
            <li class="active"><a href="{{ site.baseurl }}/categories/{{ category[0] }}">{{ category[0] }}</a></li>
            {% endunless %}
            {% endfor %}
          </ul>
        </aside>
      </div>

      {% include footer.html %}
    </div>

    {% include secret-footer.html %}
    
    {% include js.html %}
  </body>
</html>
