<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
 {% include head.html %}
 <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="outer-container">
    
      {% include navigation.html %}
        
      <div class="inner-container">
        <main>
          {{ page.content | markdownify }}
        </main>
        
        <aside>
          
        </aside>
      </div>
          
      {% include footer.html %}

    </div>

    {% include secret-footer.html %}

    {% include js.html %}
        
    </body>
</html>
