
<!-- 404 Layout Start -->

<!doctype html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body id="page-top" data-spy="scroll">
    <div class="outer-container" style="text-align: center;">

    {% include navigation.html %}

    <h1><strong>{{ page.title }}</strong></h1>
    {{ page.content | markdownify }}

    {% include footer.html %}

    </div>

    {% include secret-footer.html %}
    {% include js.html %}

  </body>
</html>

<!-- 404 Layout End -->
