<!-- Index Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll">
    <div class="outer-container">
      {% include navigation.html %} {% include header.html %}

      <div
        id="announcement"
        style="
          font-size: 18px;
          margin: 20px auto;
          padding: 10px 20px;
          background: rgba(247, 231, 108, 0.3);
        "
      >
        <h6 style="font-size: 1.4em">
          <i class="fa fa-bullhorn"></i> Announcement
        </h6>
        <p>
          This blog should now support webmentions, but I've yet to have any
          mentions to properly implement it for the rest of the blog.
        </p>
      </div>

      <div class="inner-container">
        <main>
          <div class="main-blog-content">
            {% assign post = site.posts.first %}
            <a href="{{ site.baseurl }}{{ post.url }}"
              ><h1 class="title">{{ post.title }}</h1></a
            >
            <div class="subtitle">
              {{ post.date | date_to_string }} &nbsp;
              <a href="{{ site.baseurl }}/categories/{{ post.category }}"
                ><span class="fa fa-folder"></span> {{ post.category }}</a
              >
              &nbsp;
              <a href="{{ site.baseurl }}{{ post.url }}#comments-container"
                >{% include aids/count-comments.html post=post %}
                <span class="fa fa-comment"></span
              ></a>
            </div>

            <div class="post-description">
              <p class="post_desc">{{ post.description }}</p>
            </div>

            <div class="post-excerpt">
              {% if post.content contains '<!-- more -->' %} {{ post.content |
              split: '<!-- more -->' | first }} {% else %} {{ post.excerpt |
              markdownify }} {% endif %}
            </div>

            <a class="button" href="{{ site.baseurl }}{{ post.url }}"
              ><b>READ MORE >></b></a
            >
          </div>

          <hr class="sec-sep" />

          <div class="math-content">
            <a href="{{ site.baseurl }}/math/"
              ><h6 class="small">
                <span class="fa fa-pencil-alt"></span> Math
              </h6></a
            >
            {% assign mathpost = site.math.last %}
            <a href="{{ site.baseurl }}{{ mathpost.url }}"
              ><h4>{{ mathpost.title }}</h4></a
            >
            <div class="subtitle">
              {{ mathpost.date | date_to_string }} &nbsp;
              <a href="{{ site.baseurl }}{{ mathpost.url }}#comments-container"
                >{% include aids/count-comments.html post=mathpost %}
                <span class="fa fa-comment"></span
              ></a>
            </div>

            <div class="post-description">
              <p class="post_desc">{{ mathpost.description }}</p>
            </div>

            <div class="post-excerpt">
              {% if mathpost.content contains '<!-- more -->' %} {{
              mathpost.content | split: '<!-- more -->' | first }} {% else %} {{
              mathpost.excerpt | markdownify }} {% endif %}
            </div>

            <a class="button" href="{{ site.baseurl }}{{ mathpost.url }}"
              ><b>READ MORE >></b></a
            >
          </div>

          <hr class="sec-sep" />

          <div class="til-content">
            <a href="{{ site.baseurl }}/til/"
              ><h6 class="small">
                <span class="fa fa-pencil-alt"></span> Today I Learned
              </h6></a
            >
            {% assign tilpost = site.til.last %}
            <a href="{{ site.baseurl }}{{ tilpost.url }}"
              ><h4>{{ tilpost.title }}</h4></a
            >
            <div class="subtitle">
              {{ tilpost.date | date_to_string }} &nbsp;
              <a href="{{ site.baseurl }}{{ tilpost.url }}#comments-container"
                >{% include aids/count-comments.html post=tilpost %}
                <span class="fa fa-comment"></span
              ></a>
            </div>

            <div class="post-description">
              <p class="post_desc">{{ tilpost.description }}</p>
            </div>

            <div class="post-excerpt">
              {% if tilpost.content contains '<!-- more -->' %} {{
              tilpost.content | split: '<!-- more -->' | first }} {% else %} {{
              tilpost.excerpt | markdownify }} {% endif %}
            </div>

            <a class="button" href="{{ site.baseurl }}{{ tilpost.url }}"
              ><b>READ MORE >></b></a
            >
          </div>
        </main>

        <aside>
          <hr class="hr-double" />

          {% include microblog-feed.html %}

          <hr class="hr-double-reverse" />
        </aside>
      </div>

      {% include footer.html %} {% include js.html %}
    </div>

    {% include secret-footer.html %}
  </body>
</html>

<!-- Index Layout End -->
