<!doctype html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll">
    <div class="page-position"></div>
    <div class="outer-container">
    {% include navigation.html %}

    <div class="inner-container">
      <main id="{{ page.title | slugify }}" class="post-content position-tracked"> 
        <noscript><h1 class="post-title"><strong>{{ page.title }}</strong></h1></noscript>
        <h1 class="post-title"><strong><span class="typeWriter" data-text='["{{ page.title | escape }}"]' data-max="0.5" data-speed="5">&nbsp;</span></strong></h1>
        <div class="subtitle">
          {{ page.date | date_to_string }} &nbsp; 
          {%- unless page.category == nil or page.category == '' -%}<span class="fas fa-folder"></span> <a href="{{site.baseurl}}/categories/{{ page.category }}">{{ page.category }}</a> &nbsp; {%- endunless -%}
          <a class="page-scroll" href="#comments-container">{% include aids/count-comments.html post=page %} <span class="fas fa-comment"></span></a> 
          {%- capture tagsLength -%}{{ page.tags | size }}{%- endcapture -%}
          {% unless tagsLength == "0" %}
          &nbsp; <span class="fa fa-hashtag"></span>
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags/{{tag}}">{{ tag }}</a>
            {%- unless forloop.last -%} , {%- endunless -%}
          {% endfor %}
          {% endunless %}
        </div>

        {% unless page.description == blank %}
        <div class="post-description">
          <p class="post_desc">{{ page.description }}</p>
        </div>
        {% endunless %}
        {% if page.toc %}
          <h2>Table of Contents</h2>
          {{ page.content | toc_only }}
        {% endif %}

        {% unless page.title-img == "" or page.title-img == nil %}
        <div id="{{ page.title | slugify }}-heroimg" class="post-hero">
          {%- assign a = page.title-img | slice: 0, 4 -%}
          {%- capture post_slug -%}{{ page.date | date: "%Y-%m-%d"  }}-{{ page.title | slugify }}{%- endcapture -%}

          {% if a != 'http' %}
            <figure class="title_img">
              <img id="title_img" src="{{site.baseurl}}/{{site.img_dir}}/{{ page.type }}/{{ post_slug }}/{{ page.title-img }}" />
              {% unless page.title-img-caption == blank %}
              <figcaption>{{ page.title-img-caption }}</figcaption>
              {% endunless %}
            </figure>
          {% else %}
            <figure class="title_img">
              <img id="title_img" src="{{ page.title-img }}" />
              {% unless page.title-img-caption == blank %}
              <figcaption>{{ page.title-img-caption }}</figcaption>
              {% endunless %}
            </figure>
          {% endif %}
        </div>
        {% endunless %}

        {{ page.content | markdownify }}

        <div class="signature">- Japorized -</div>

        {% include pagination.html %}

        <hr style="margin: 20px 0" />

        {% include reactions.html %}

        {% include comments.html %}
      </main>
    </div>

    {% include footer.html %}

    </div>

    {% include secret-footer.html %}

    {% include js.html %}
  </body>
</html>
