<!doctype html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll">
    <div class="outer-container">
      {% include navigation.html %}
      
      {{ page.content | markdownify }}

      <ul>
        {% for project in page.projects %}
        <li><a href="#{{ project.title | slugify }}">{{ project.title }}</a>: {{ project.description }}</li>
        {% endfor %}
      </ul>

      <div class="project-container">
        {% for project in page.projects %}
        <div class="project-item">
          <a href="{{ project.url }}" target="_blank">
            <h5 id="{{ project.title | slugify }}" class="project-item-title">{{ project.title }}</h5>
            {% unless project.img == blank or project.img == null %}
            <img data-src="{{ site.baseurl }}/{{ site.img_dir }}/projects/{{ project.img }}" class="lazy" />
            {% else %}
            <br />
            {% endunless %}
            <span class="project-description">{{ project.description }}</span>
          </a>
        </div>
        {% endfor %}
      </div>

      {% include footer.html %}
    </div>

    {% include secret-footer.html %}

    {% include js.html %}
  </body>
</html>
