<!-- Résumé Layout Start -->

<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
 {% include head.html %}
 <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="outer-container">
    
      {% include navigation.html %}
        
      <main id="{{ page.title | slugify }}" class="fullwidth">
        {{ content }}
      </main>

      {% include footer.html %}

      {% include js.html %}    

    </div>

    {% include secret-footer.html %}
    </body>
</html>

<!-- Résumé Layout End -->
