<!doctype html>
<html class="has-navbar-fixed-top" lang="{{ site.lang }}">
 {% include head.html %}
 <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <div class="outer-container">
    
      {% include navigation.html %}
        
      {{ page.content | markdownify }}

      <div class="inner-container">
        <main>
          <div class="search-box">
            <form action="get" id="site_search">
              <input type="text" id="search_box" placeholder="Search..." autofocus />
            </form>
          </div>

          <div class="optional-searches g-row">
            <div class="flush-left">
              Browse by: 
              <a href="{{ site.baseurl }}/categories/">Categories</a> 
              <a href="{{ site.baseurl }}/tags/">Tags</a>
            </div>
            <div class="flush-right">
              <a href="#" id="advanced-help" title="Toggle advanced help"><i class="fa fa-info-circle"></i> Help</a>
            </div>
          </div>

          <div class="search-results">
            <ul id="search_results">
            </ul>
          </div>
        </main>

        <aside>
          <hr class="hr-double" />

          <div class="blog-content">
            <a href="{{ site.baseurl }}/blog/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Latest Blog Post</h6></a>
            {% assign post = site.posts.first %}
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> . {{ post.date | date_to_string }}

          </div>

          <div class="math-content">
            <a href="{{ site.baseurl }}/math/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Latest Math Post</h6></a>
            {% assign mathpost = site.math.last %}
            <a href="{{ site.baseurl }}{{ mathpost.url }}">{{ mathpost.title }}</a> . {{ mathpost.date | date_to_string }}

          </div>

          <div class="til-content">
            <a href="{{ site.baseurl }}/til/"><h6 class="small"><span class="fa fa-pencil-alt"></span> Latest TIL Post</h6></a>
            {% assign tilpost = site.til.last %}
            <a href="{{ site.baseurl }}{{ tilpost.url }}">{{ tilpost.title }}</a> . {{ tilpost.date | date_to_string }}

          </div>

          <hr class="hr-double-reverse" />

          <div class="search-help">
            <h6>Advanced Searching</h6>
            <ul>
              <li><b>Boosting</b><br />
                Append <code class="highlighter-rouge">^n</code>, where <code class="highlighter-rouge">n</code> is a positive integer, to imply importance in your search. E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight"><code>macos^10 latex^5 axiom</code></pre>
                  </div>
                </div>
                <ul>
                  <li> 10 points of importance to "macos",</li>
                  <li> 5 points of importance to "latex",</li> 
                  <li> and normal importance to "axiom".</li>
                </ul>
              </li>

              <li><b>Fuzzy</b><br />
                Appending a tilde "~" and a positive integer relaxes the searched term. E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight"><code>macos~3</code></pre>
                  </div>
                </div>
                allows for the matching of 'ma<i>tch</i>'.
              </li>

              <li><b>Term pressence</b><br />
                Prepending a word with "+" or "-" emphasizes must have and must not have in your results, respectively. E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight"><code>+macos -latex</code></pre>
                  </div>
                </div>
                <ul>
                  <li>must match "macos", and</li>
                  <li>must not match "latex".</li>
                </ul>
              </li>

              <li><b>Wildcards</b><br />
                You can use "*" to match arbitrary character(s). E.g.
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight"><code>la*</code></pre>
                  </div>
                </div>
                will search for any word prepended with "la", while
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight"><code>la*e</code></pre>
                  </div>
                </div>
                will search for words like "late" or "latte".
              </li>

              <li><b>Fields</b><br />
                You can look in specific fields as follows:
                <div class="highlighter-rouge">
                  <div class="highlight">
                    <pre class="highlight"><code>title:macos</code></pre>
                  </div>
                </div>
                This will look for "macos" in the titles of posts. There are 5 fields available for searching:
                <ul>
                  <li>title</li>
                  <li>description</li>
                  <li>content</li>
                  <li>categories</li>
                  <li>tags</li>
                </ul>
              </li>
            </ul>

            <a target="_blank" href="https://lunrjs.com/guides/searching.html"><i class="fa fa-external-link-alt"></i> Detailed help</a>
          </div>
        </aside>
      </div>
          
      {% include footer.html %}

    </div>

    {% include js.html %}

    <script src="{{ site.baseurl }}/{{ site.js_dir }}/search.js"></script>

    {% include secret-footer.html %}
        
    </body>
</html>
